#ultimo + div, .disclaimer{
    visibility:hidden;
}

.disclaimer{
    visibility:hidden;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Akshar', sans-serif;
}

/* ------------------HEADER-MOV------------ */

.header-mov{
    display: none;
    height: 8vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: 'Akshar', sans-serif;
    background-color: rgba(24, 24, 24, 0.9);
}

.logo-mov img{
    height: 40px;
    width: 60px;
    padding: 2px;
}

.barra-mov{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    width: 100vw;
}

.container-lista-mov{
    width: 100vh;
    height: 90vh;
    position: absolute;
    z-index: 5;
}

.fa{
    font-size: 30px !important;
    color: #fff;
}

#check{
    display: none;
}

.nav-mov{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    background-color: #7488d1;
    height: 92vh;
    width: 100%;
    left: -100%;
    top: 8vh;
    text-align: center;
    transition: all .5s;
    z-index: 1;
    backdrop-filter: blur(15px);
}

.nav-mov a{
    font-size: 35px;
    color: #fff;
    text-decoration: none;
}

#check:checked ~ div.nav-mov{
    left: 0;
}

/* ------------------HEADER------------- */

.video{
    max-width: 120vw;
    z-index: -100;
    position: fixed;
}

header{
    position: absolute;
    width: 100%;
    font-family: 'Akshar', sans-serif;
}

.container-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img{
    height: 60px;
    width: 100px;
}

.container-lista{
    width: 70vh;
}

.lista-nav{
    display: flex;
    justify-content: space-between;
}

.item-nav{
    list-style: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    transition: all .2s;
}

.lista-nav a:hover{
    color: #8b1414;
    font-size: 23px ;
    padding: 0 5px;
    font-weight: 700;
}

/* ------------------TDAlerta------------- */

.container{
    height: 100vh;
    display: flex;
}


.contenedor{
    display: flex;
    align-items: center;
    margin-left: 10%;
    text-align: center;
}

.tdalerta{
    background-color: #414141;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 29px 1px rgba(0,0,0,0.75);
}

.tdalerta img{
    margin-bottom: 1rem;
    width: 250px;
}

.tdalerta-texto{
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Akshar', sans-serif;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.tdalerta-texto span{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.tdalerta a{
    background: linear-gradient(45deg, rgba(93,16,16,1) 0%, rgba(182,44,9,1) 73%);
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Akshar', sans-serif;
    padding: 1rem 3.5rem;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 1.5rem;
}


.tdalerta-titulo{
    font-family: 'Akshar', sans-serif;
    font-size: 30px;
    margin-left: 3rem;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 5rem;
    
}

.tdalerta-titulo h2{
    font-weight: 800;
    color: #161616; 
}

.tdalerta-titulo h2 span{
    color: #8b1414;
}



/* ------------------TDAlerta-iNFO------------- */
main{
    background-color: #fff;
    text-align: center;
}

.container-section{   
    padding: 5rem 0;
}

.info-titulo{
    font-size: 32px;
}

.info-titulo span{
    color: #8b1414;
}

.info-titulo p{
    font-size: 25px;
    margin-top: 1rem;
}

.info-container-cards{
    display: flex;
    gap: 5rem;
    margin-top: 100px;
    padding: 0 5rem;
}

.info-card img{
    margin-bottom: 2rem;
}

.info-card h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.info-card p{
    font-size: 1.1rem;
}

/* ------------------FUNCIONAMIENTO------------- */

.funcionamiento{
    padding: 0;
    color: #fff;
}

.funcionamiento-container{
    text-align: left;
    background-color: rgba(66, 64, 64, 1);
    margin: -10px 0;
    padding: 1rem 0 0 5%;
}

.funcionamiento-titulo{
    font-size: 35px;
}

.funcionamiento-info{
    display: flex;
    justify-content: space-between;
}

.funcionamiento-texto p{
    font-size: 30px;
    margin-top: 2rem;
}

.funcionamiento-texto ul{
    margin: 1rem 0 0 6rem;
    font-size: 28px;
    font-weight: bold;
    list-style-type: none;
    list-style-image: url(../img/circle.png);
}

.funcionamiento-texto ul li{
    margin-top: 2rem;
}

.funcionamiento-img img{
    height: 600px;
}


/* ------------------PRECIOS------------- */


.precios-titulo h2{
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.precios-container-cards{
    display: flex;
    justify-content: space-evenly;
}

.precios-card{
    background: rgb(130,21,21);
    background: linear-gradient(35deg, rgba(130,21,21,1) 0%, rgb(204, 49, 10) 100%);
    color: #fff;
    font-size: 35px;
    padding: 1.5rem;
    border-radius: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.precios-card img{
    height: 100px;
    margin: 0.8rem;
}

.precios-card-info p{
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.precios-card-precio{
    text-align: center;
    font-weight: bold;
    margin: 1rem 0 2rem 0;
}

.precios-card-boton{
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: #fff 5px solid;
    padding: .8rem 1rem;
    border-radius: 50px;
    transition: all .4s;
}

.precios-card-boton:hover{
    transform: scale(1.05);   
}


/*---------------MEDIAQUERYS---------------*/



@media(max-width:800px){

    header{
        display: none;
    }

    .header-mov{
        display: block;
    }

    .video{
        min-width: 1270px;
        top: 0;
    }

    .contenedor{
        flex-direction: column-reverse;
        justify-content: end;
        margin: 0 0 5rem 0;
        width: 100%;
    }
    
    .tdalerta{
        transform: scale(.8);
    }

    .tdalerta-titulo{
        margin: 0 0 -1.5rem 0;
        padding: 0;
        font-size: 1.2rem;
    }

    .info-container-cards{
        flex-direction: column;
    }

    .funcionamiento-img img{
        display: none;
    }

    

    .precios-container-cards{
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;
    }

    .container-footer{
        flex-direction: column;
    }

    .footer-texto{
        width: 80%;
    }

}

@media(max-width:540px){

    


    .footer-texto p{
        font-size: 16px;
    }

    .br-1{
        display: none;
    }
    
}






















/* -------------FOOTER--------------- */

footer{
    background-color: #161616;
    color: #fff;
    font-size: 16px;
    height: auto;
    font-family: 'Akshar', sans-serif;
    padding-bottom: 15px;
}

.footer-logo{
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.footer-logo img{
    width: 100px;
    height: 50px;
}

.container-footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: auto;
}

.footer-texto , .redes{
    margin: 10px;
}

.footer-texto{
    width: 60%;
    margin-left: 25px;
    text-align: left;
    color: #6b6b6b;
}

.redes{
    width: 40%;
    font-size: 20px;
}

.container-redes{
    margin-top: 10px;
}

.container-redes a{
    font-size: 30px;
    color: #fff;
    margin-top: 5px;
}